<!DOCTYPE html>
<html lang="en">
	<head>
  	<meta charset="utf-8">
  	<meta name="description" content="Your description goes here">
  	<meta name="keywords" content="one, two, three">
	<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Level Ground</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
		<script src="https://kit.fontawesome.com/b6024a7efb.js" crossorigin="anonymous"></script>
	
	</body>

	<header class="primaryfont">
		<nav>
			<ul class="primary-nav">
				<li class="primary-nav-links"><a href="#" class="primaryfont">Classes</a></li>
				<li class="primary-nav-links"><a href="#" class="primaryfont">Hire Us</a></li>
			</ul>
		</nav>
		
		<a href="#"><i class="fa-duotone fa-dumbbell"></i></a>

		<button class="primaryfont">donate</button>
	</header>

	<main>
		<section class="videosection">
			<video autoplay playsinline muted loop src="assets/pexels-cottonbro-studio-4761428-4096x2160-25fps.mp4"  class="videos"></video>
			<section>
				<h1 class="herofont">Where Grit Meets Opportunity</h1>
				<p class="herosmall">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus cupiditate voluptates necessitatibus repellat ut accusantium doloribus consequuntur officiis veritatis corporis.</p>
				<p class="herosmall"><i class="fa-sharp fa-regular fa-circle-play"></i> Watch the video</p>
			</section>
		</section>
		<section class="whysection">
			<h1 class="whyfontlarge">
				Why Train With Us
			</h1>
			<p class="whyfontsmall">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus possimus facere inventore error deleniti nisi, consequatur totam incidunt eos, quos maiores mollitia a illo ducimus optio laborum labore, ad eligendi iure porro eaque sint. Tempore autem officiis minima nobis incidunt!
			</p>
		</section>

		<section class="bluredbackground">

			
			<section class="cardcontainer">
				<section class="card">
					<img src="assets/pexels-bruno-bueno-2204196.jpg" alt="">
					<h3>1-on-1 Trainer</h3>
					<p>Personalized training with expert coaches. Improve technique, strength and performance</p>
					<a href="" class="specialLink">Book A Trainer</a>
				</section>
				<section class="card">
					<img src="assets/pexels-bruno-bueno-2204196.jpg" alt="">
					<h3>Group Classes</h3>
					<p>Join high-energy group classes led by experienced coaches. Improve fitness and skills</p>
					<a href="" class="specialLink">Book A Class</a>
				</section>
			</section>
		
	
		</section>	
	
	

		</section>
		<section class="volunter">
			<h3>Lorem ipsum dolor sit amet.</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui expedita in voluptatum, optio enim ut minima vitae mollitia explicabo error eum aliquid impedit tempore illum illo ullam. Consectetur corporis fugit cupiditate voluptate similique dolorem quas.</p>
			<a href="">Volunteer</a>
		</section>




	




	</main>
	<footer>
	<section class="socalmediasitemap">
			<section class="socialmedia">
				<ul class="socialmedialinks">
					<li class="socialmedialink"><i class="fa-brands fa-square-facebook"></i></li>
					<li class="socialmedialink"><i class="fa-brands fa-twitter"></i></li>
					<li class="socialmedialink"><i class="fa-light fa-envelope"></i></li>
				</ul>
			</section>
		<section class="sitemap-contribute">
			<section class="sitemap">
				<h6>Site Map</h6>
				<a href="">Classes</a><a href="">Hire Us</a>
			</section>
			<section class="contribute">
				<h6>Contribute</h6>
				<a href="">Give</a><a href="">Volunteer</a>
			</section>
		</section>
	
	</section>
		<section class="address">
			<h6>Level Ground Mixed Martial Arts</h6>
			<p>50 Milk Street, Floor 17 Boston MA 02109 410 533 2210</p>
			<p class="email">Ali@Levelgroundmma.org</p>
			
		</section>
	</footer>
</html>
